@import './variables.scss';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
.mt-0{
  margin-top: 0px;
}
.pic {
  max-width: 1075px;
  margin: auto;
  height: 360px;
  background-image: url(https://ednasportfolio.s3.ap-northeast-1.amazonaws.com/about/pic.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  font-family: 'Rubik', roboto;
}

.time_line-h {
  @media (max-width: 768px) {
    display: none;    
  }
  .timeline-h{
    position: relative;
      &::after{
        content: "";
        width: 100%;
        border-top: 1px solid $color_grey-light;
        position: absolute;
        top: 44px;
      }
  }  
}
.time_line-v {
  @media (min-width:768px) {    
    display: none;
  }
  .timeline-v{
    position: relative;
      &::after{
        content: "";
        height: 100%;
        left: 3px;
        border-left: 1px solid $color_grey-light;
        position: absolute;
        top: 16px;
      }
    }
}
.border-circle {
  padding: 20px;
  border-radius: 100px;
  border: 1px solid $color_grey-light;
  width: 74px;
  height: 74px;
  background-color: $color_grey-darker;
  z-index: 3;
}
