@import './variables.scss';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

///文字設定///
@media (min-width: 0px) {
  h1 {
    font-size: 24px;
    letter-spacing: 1.6px;
    font-weight: 400px;
  }
  h2 {
    font-size: 17px;
    font-weight: 600;
    margin: initial;
  }

  .text-xxl {
    @media (max-width: 2680px) {
      font-size: 80px;
      font-weight: 300;
      font-family: 'rubik';
      line-height: 1;
    }
    @media (max-width: 1440px) {
      font-size: 64px;
      font-weight: 300;
      font-family: 'rubik';
      line-height: 1;
    }
    @media (max-width: 576px) {
      font-size: 48px;
      font-weight: 300;
      font-family: 'rubik';
      line-height: 1;
    }
  }
  .text-xl {
    font-size: 48px;
    font-weight: 300;
    font-family: 'rubik';
    line-height: 1;
  }
  .text-l {
    font-size: 24px;
    font-weight: 300;
    font-family: 'rubik';
    line-height: none;
  }
  .text-md {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    text-align: justify;
    text-justify: auto;
  }
  .text-md-bold {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.8;
  }
  .text-sm {
    font-size: 14px;
    font-weight: 400;
  }
  .text-sm-bold {
    font-size: 14px;
    font-weight: 600;
  }  
}
@media (max-width: 2680px) {
  h1 {
    font-size: 28px;
    font-weight: 400px !important;
  }
  h2 {
    font-size: 18px;
    font-weight: 600;
  }
  .text-md {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
  }
  .text-md-bold {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    font-weight: 600;
  }
}

.border-circle {
  padding: 20px;
  border-radius: 100px;
  border: 1px solid $color_grey-light;
  width: 74px;
  height: 74px;
  background-color: $color_grey-darker;
  z-index: 3;
}


.pic {
  max-width: 1075px;
  margin: auto;
  height: 360px;
  background-image: url(https://ednasportfolio.s3.ap-northeast-1.amazonaws.com/about/pic.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.time_line-h {
  @media (max-width: 768px) {
    display: none;    
  }
  .timeline-h{
    position: relative;
      &::after{
        content: "";
        width: 100%;
        border-top: 1px solid $color_grey-light;
        position: absolute;
        top: 44px;
      }
  }  
}

.time_line-v {
  @media (min-width:768px) {    
    display: none;
  }
  .timeline-v{
    position: relative;
      &::after{
        content: "";
        height: 100%;
        left: 3px;
        border-left: 1px solid $color_grey-light;
        position: absolute;
        top: 16px;
      }
    }
}