
@import './variables.scss';

.app-nav::after {
  content: ' ';
  background-color: rgb(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);  
}  
.app-nav {
  padding: .5rem 0;
  position: fixed;
  box-shadow: 0px 1px 1px rgb(239, 240, 243);
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255, 1);
  // -webkit-backdrop-filter: blur(8px);
  // backdrop-filter: blur(8px);    
  h4{
    font-size: 16px;
    font-weight: 500;
  }       
  a, span{
    font-size: 16px ;
    font-weight: 400;
    @media (max-width: 576px) {     
      font-size: 16px ;
      font-weight: 500;
    }
  }
  .hover-effect{
    &:hover{
      @media (min-width: 576px) {        
        background-color: rgba(235, 244, 255, 1);
        border-radius: 8px;
      }
    }
  }
  .is-nav-link {
    display: inline-block;
    padding: .5rem;
    cursor: pointer;
    color: $color_grey-dark;
    text-decoration: none;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__actions {
    @media screen and (max-width: 768px) {
      display: none;
    }
    > ul {
      list-style-type: none;
      display: flex;
      margin-bottom: 0;
    }
    .is-dropdown {
      position: relative;
      &__context {
        position: absolute;
        top: calc(100% + 14px);
        right: 0;
        background: #fcfcfc;
        list-style-type: none;
        margin: 0;
        padding: 8px 0px;
        box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.05);
        border: 1px solid rgb(225, 229, 233);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        li {
          a {
            width: 100%;
            display: inline-block;
            padding: .5rem 2rem;
            word-break: keep-all;
            text-decoration: none;
            color: $color_grey-dark;
            &:hover {
              background-color: rgba(235, 244, 255, 1);
              border-radius: 0;
            }
          }
        }
      }
    }
  }

  &__actions__mobile {
    @media screen and (min-width: 768px) {
      display: none;
      background-color: #fff;
    }
    &__toggler {
      width: 30px;
      height: 30px;
      padding: 2px;
      border: none;
      background: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__cover {
      position: fixed;
      display: none;
      border-top: solid 1px #eee;
      padding: 2rem 1rem;
      margin-bottom: 1rem;
      left: 0;
      top: 46px;
      background: white;
      width: 100%;
      height: calc(100% - 45px);
      &.is_active {
        display: block;
      }
      ul {
        a {
          display: block;
          h4{
            padding: .8rem 0.4rem;
            color: $color_grey-dark;
          }
        }
        &.sub_item {
          margin-bottom: 1rem;
          a {
            padding: .8rem 2rem;
            color: $color_grey-dark;
            &.router-link-active {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .mr-32{
    margin-right: 32px;
  }
}