@import './variable.scss';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

.container-hero {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-family: sans-serif;
  color: $color_grey-dark;
  @media (max-width: 2680px) {
    max-width: 1000px;
  }
  @media (max-width: 1024px) {
    max-width: 700px;
  }
}
  

///文字設定///
@media (min-width: 0px) {
  h1 {
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;
  }
  h2 {
    font-size: 48px;
    font-family: 'rubik, roboto';
    font-weight: 300;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
  }

}
@media (min-width: 992px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 60px;
    font-family: 'rubik, roboto';
    font-weight: 300;
  }
  h3 {
    font-size: 20x;
    font-weight: 700;
  }

}

@media (min-width: 0px) {
  .text-xxl {
    @media (max-width: 2680px) {
      font-size: 80px;
      font-weight: 300;
      font-family: 'rubik';
      line-height: 1;
    }
    @media (max-width: 1440px) {
      font-size: 64px;
      font-weight: 300;
      font-family: 'rubik';
      line-height: 1;
    }
    @media (max-width: 576px) {
      font-size: 48px;
      font-weight: 300;
      font-family: 'rubik';
      line-height: 1;
    }
  }
  .text-xl {
    font-size: 48px;
    font-weight: 300;
    font-family: 'rubik';
    line-height: 1;
  }
  .text-l-bold {
    font-size: 18px;
    font-weight: 400;
  }
  .text-md {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    text-align: justify;
    text-justify: auto;
  }
  .text-md-bold {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.8;
  }
  .text-sm {
    font-size: 14px;
    font-weight: 400;
  }
}
@media (max-width: 2680px) {
  .text-md {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
  }
  .text-md-bold {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    font-weight: 600;
  }
}


///---PROTECT---
.project {
  align-items: center;
}



///--MARKET---
.market-device-section {
  display: flex;
  align-items: flex-end;
  .web {
    margin-right: 32px;
    background-image: url(https://ednasportfolio.s3.ap-northeast-1.amazonaws.com/homepage/market-web-hp.gif);
  }
  .mobile{
    background-image: url(https://ednasportfolio.s3.ap-northeast-1.amazonaws.com/homepage/market-m-hp-short.png);
  }
  @media (max-width: 2680px) {
    .web {
      width: 1000px;
      height: 440px;
    }
    .mobile {
      width: 300px;
      height: 280px;
    }
  }
  @media (max-width: 1440px) {
    .web {
      width: 900px;
      height: 420px;
    }
    .mobile {
      width: 260px;
      height: 270px;
    }
  }
  @media (max-width: 1024px) {
    .web {
      width: 800px;
      height: 350px;
    }
    .mobile {
    display: none;
    }
  }
  @media (max-width: 990px) {
    .web {
      width: 800px;
      height: 440px;
    }
    .mobile {
      display: block;
      width: 240px;
      height: 310px;
    }
  }
  @media (max-width: 768px) {
    .web {
      width: 800px;
      height: 420px;
    }
    .mobile {
      width: 280px;
      height: 320px;
    }
  }
  @media (max-width: 516px) {
    .web {
      display: none;
    }
    .mobile {
      display: none;
    }
  }
}
.owl-device-section, .pms-device-section{
  @media (max-width: 516px) {
    display: none;
  }
}
.display-on-mobile{
  display: none ;
  @media (max-width: 516px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.img-container {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

