@import './variable.scss';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

.container-hero {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-family: sans-serif;
  color: $color_grey-dark;
  @media (max-width: 2680px) {
    max-width: 1000px;
  }
  @media (max-width: 1024px) {
    max-width: 900px;
  }
  @media (max-width: 1024px) {
    max-width: 700px;
  }
}

///文字設定///
@media (min-width: 0px) {
  h1 {
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;
  }
  h2 {
    font-size: 48px;
    font-family: 'rubik';
    font-weight: 300;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
  }

}
@media (min-width: 768px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 60px;
    font-family: 'rubik';
    font-weight: 300;
  }
  h3 {
    font-size: 20x;
    font-weight: 700;
  }

}

///---PROTECT---
.project {
  align-items: center;
}



///--MARKET---
.market-device-section {
  display: flex;
  align-items: flex-end;
  .web {
    margin-right: 32px;
  }
  @media (max-width: 2680px) {
    padding: 20px 20px 20px 0px;
    .web {
      width: 1000px;
      height: 440px;
      background-image: url(https://ednasportfolio.s3.ap-northeast-1.amazonaws.com/homepage/market-web-hp.gif);
    }
    .mobile {
      width: 300px;
      height: 280px;
      background-image: url(https://ednasportfolio.s3.ap-northeast-1.amazonaws.com/homepage/market-m-hp-short.gif);
    }
  }
  @media (max-width: 1200px) {
    padding: 20px 20px 20px 0px;
    .web {
      width: 900px;
      height: 360px;
      background-image: url(https://ednasportfolio.s3.ap-northeast-1.amazonaws.com/homepage/market-web-hp.gif);
    }
    .mobile {
      width: 260px;
      height: 220px;
      background-image: url(https://ednasportfolio.s3.ap-northeast-1.amazonaws.com/homepage/market-m-hp-short.gif);
    }
  }
  @media (max-width: 1024px) {
    .web {
      width: 700px;
      height: 350px;
    }
    .mobile {
      width: 240px;
      height: 246px;
    }
  }
  @media (max-width: 990px) {
    padding: 16px;
    margin-bottom: 40px;
    .web {
      width: 1000px;
      height: 500px;
    }
    .mobile {
      width: 280px;
      height: 280px;
    }
  }
  @media (max-width: 768px) {
    padding: 16px;
    margin-bottom: 40px;
    .web {
      width: 1000px;
      height: 360px;
    }
    .mobile {
      width: 280px;
      height: 230px;
    }
  }
  @media (max-width: 576px) {
    .web {
      margin-right: 0px;
      width: 100%;
      height: 300px;
    }
    .mobile {
      display: none;
    }
  }
}
.img-container {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

///---官網---
.owl-device-section {
  position: relative;
  @media (max-width: 2680px) {
    padding: 20px 20px 20px 0px;
  }
  @media (max-width: 576px) {
    padding: 15px;
    margin-bottom: 32px;
  }
}
// .owl-device-section::before {
//   content: ' ';
//   width: 180px;
//   height: 180px;
//   background: #baddf1;
//   filter: blur(38px);
//   position: absolute;
//   bottom: 60px;
//   left: -45px;
//   z-index: -1;
//   @media (max-width: 516px) {
//     display: none;
//   }  
// }
// .owl-device-section::after {
//   content: ' ';
//   width: 100px;
//   height: 100px;
//   background: rgb(147, 172, 255);
//   filter: blur(38px);
//   position: absolute;

//   top: 0px;
//   right: -20px;
//   z-index: -1;
//   @media (max-width: 516px) {
//     display: none;
//   }
// }

