@import './variables.scss';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

///文字設定///
.text-xxl {
  line-height: 1;
  font-family: 'rubik';
  font-weight:500;
  color: $color_blue-base;
  @media (max-width: 2680px) {
    font-size: 56px;
  }
  @media (max-width: 1440px) {
    font-size: 56px;
  }
  @media (max-width: 576px) {
    font-size: 48px;
  }
}
.text-xl {
  font-size: 48px;
  font-weight: 400;
  font-family: 'rubik';
  line-height: 1;
}
.text-l {
  font-size: 32px;
  font-weight: 400;
  font-family: 'rubik';
  line-height: 1;
}


.user-image-relative {
  position: relative;
}
.emoji-position {
  position: absolute;
  font-size: 26px;
  left: 40px;
  top: 20px;
}
.talking-bobble {
  border: 1px solid $color_grey-lighter;
  padding: 16px;
  border-radius: 8px;
}
.talk-dialog {
  padding: 4px 10px;
  border: 1px solid $color_grey-light;
  border-radius: 8px;
}
.user-journey-image {
  @media (max-width: 2680px) {

    .user-journey-mobile {
      display: none;
    }
  }
  @media (max-width: 576px) {
    .user-journey-web {
      display: none;
    }
    .user-journey-mobile {
      display: block;
    }
  }
}
