.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding: 0px;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

//COLOR
//---GREY---
$color_white: #fff;
$color_grey-lightest: #f2f2f2;
$color_grey-lighter: #dbdce0;
$color_grey-light: #777c88;
$color_grey-base: #36363c;
$color_grey-dark: #25252e;
$color_grey-darker: #1b1b1e;
$color_grey-darkest: #19191d;

//---BLUE---
$color_blue-lightest: #ebf4ff;
$color_blue-lighter: #d0e4fb;
$color_blue-light: #9fcbff;
$color_blue-base: #51a1ff;
$color_blue-dark: #2c72c3;

.color_grey-light {
  color: $color_grey-light;
}

//左上logo hover

//---全域---
.navbar {
  .dropdown-toggle::after {
    border: none;
  }
  .navbar-toggler {
    border: initial;
    &:hover {
      background-color: $color_grey-lightest;
    }
    &:focus {
      outline: 10px auto $color_grey-lighter;
    }
    .navbar-toggler-icon {
      width: 24px;
    }
  }
  .la-angle-down {
    margin-left: 8px;
  }
  .collapse {
    flex-grow: initial;
    font-size: 14px;
    .nav-link {
      color: $color_grey-dark;
      &:hover {
        background-color: $color_grey-lightest;
        border-radius: 4px;
        color: $color_grey-dark;
      }
    }
  }

  @media (min-width: 320px) {
    font-size: 14px;
    color: $color_grey-dark;
    padding: 4px 16px;
    background-color: $color_white;
  }
  @media (max-width: 768px) {
    padding: 4px 40px;
  }
  @media (min-width: 1440px) {
    padding: 4px 80px;
  }
}
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
section {
  @media (max-width: 2680px) {
    padding: 60px 0px 60px 0px;
  }
  @media (max-width: 768px) {
    padding: 40px 0px 40px 0px;
  }
  @media (max-width: 414px) {
    padding: 20px 0px 20px 0px;
  }
}
.container {
  @media (max-width: 2680px) {
    max-width: 1100px;
    font-family: sans-serif;
    color: $color_grey-dark;
  }
  @media (max-width: 1200px) {
    max-width: 1000px;
    font-family: sans-serif;
    color: $color_grey-dark;
  }
  @media (max-width: 1024px) {
    max-width: 800px;
    font-family: sans-serif;
    color: $color_grey-dark;
  }
  @media (max-width: 768px) {
    font-family: sans-serif;
    color: $color_grey-dark;
  }
}
.figure {
  margin: 0px;
}
// .container-fluid {
//   padding-right: 0px;
//   padding-left: 0px;
//   position: relative;
// }

.bg-grey-darker {
  background-color: $color_grey-dark;
}
.bg-grey-darkest {
  background-color: $color_grey-darkest;
}
.font-color-light {
  color: $color_grey-lighter;
}
.font-color-blue {
  color: $color_blue-base;
}
.btn {
  font-size: 14px;
  background-color: $color_white;
  color: $color_grey-dark;
  border: initial;
  padding: 10px 0px;
  font-weight: 600;
  margin-top: 16px;
  &:hover {
    background-color: $color_white;
    color: $color_blue-dark;
    text-decoration: none;
    i {
      transform: translateX(5px);
      transition-duration: (0.5s);
    }
  }
  &:active {
    transform: scale(0.98);
    color: $color_blue-dark !important;
  }
  &:focus {
  }
  .la-long-arrow-alt-right {
    margin-left: 8px;
    color: $color_blue-dark;
  }
}

///漸層邊框
.gradient-border {
  --borderWidth: 12px;
  position: relative;
  border-radius: var(--borderWidth);
  padding: 0px;
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f8f8f8, #edeff1, #ffffff);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  box-shadow: 22px 25px 34px -20px rgb(187, 187, 190);
}
.border-1 {
  border: 1px solid $color_grey-lightest;
}
.border-2 {
  border: 2px solid $color_grey-lightest;
}
.shadow {
  box-shadow: 22px 25px 34px -20px rgb(187, 187, 190);
}

///BORDER-RADIOUS
.border-radius-4 {
  border-radius: 4px;
}
.border-radius-8 {
  border-radius: 8px;
}
.border-radius-16 {
  border-radius: 16px;
}
.border-radius-20 {
  border-radius: 20px;
}
.figure-img {
  margin: 0px;
}
ul {
  padding: 0;
  list-style-type: none;
}
///MARGIN
///mb---
.mb-4 {
  margin-bottom: 4px !important;
}
.mb-8 {
  margin-bottom: 8px !important;
}
.mb-16 {
  margin-bottom: 16px !important;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-80 {
  margin-bottom: 80px;
}
///-mt
.mt-16 {
  margin-top: 16px;
}
.mt-60 {
  margin-top: 60px;
}
///mr---
.mr-4 {
  margin-right: 4px !important;
}
.mr-8 {
  margin-right: 8px !important;
}
.mr-16 {
  margin-right: 16px !important;
}
.mr-24 {
  margin-right: 24px;
}
.mr-32 {
  margin-right: 32px;
}
//////ml---
.ml-4 {
  margin-left: 4px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-16 {
  margin-left: 16px;
}
.ml-24 {
  margin-left: 24px;
}
.ml-32 {
  margin-left: 32px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-auto {
  margin-left: auto;
}
///PADDING
.pt-60 {
  padding-top: 60px;
}

p {
  margin: initial;
}

///文字設定///
@media (min-width: 0px) {
  h1 {
    font-size: 24px;
    letter-spacing: 1.6px;
  }
  h2 {
    font-size: 17px;
    font-weight: 600;
    margin: initial;
  }
  h3 {
    font-size: 14px;
    font-weight: 400;
  }
  h4 {
    color: $color_blue-base;
    font-size: 72px;
    font-family: 'rubik';
    font-weight: 300;
    margin: initial;
    line-height: initial;
  }
  .text-xxl {
    @media (max-width: 2680px) {
      font-size: 80px;
      font-weight: 300;
      font-family: 'rubik';
      line-height: 1;
    }
    @media (max-width: 1440px) {
      font-size: 64px;
      font-weight: 300;
      font-family: 'rubik';
      line-height: 1;
    }
    @media (max-width: 576px) {
      font-size: 48px;
      font-weight: 300;
      font-family: 'rubik';
      line-height: 1;
    }
  }
  .text-xl {
    font-size: 48px;
    font-weight: 300;
    font-family: 'rubik';
    line-height: 1;
  }
  .text-l {
    font-size: 32px;
    font-weight: 300;
    font-family: 'rubik';
    line-height: 1;
  }
  .text-md {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    text-align: justify;
    text-justify: auto;
  }
  .text-md-bold {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.8;
  }
  .text-sm {
    font-size: 14px;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 18px;
    font-weight: 600;
  }
  .text-md {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
  }
  .text-md-bold {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    font-weight: 600;
  }
}
.line-through {
  text-decoration: line-through;
}
.border-circle {
  padding: 20px;
  border-radius: 100px;
  border: 1px solid $color_grey-light;
  width: 74px;
  height: 74px;
  background-color: $color_grey-darker;
  z-index: 3;
}
.through-line::after {
  content: ' ';
  border: 1px solid $color_grey-light;
  width: 200px;
  z-index: 2;
  position: absolute;
}
.line-height-2 {
  line-height: 2.1;
}
///---banner---
.title-section,
.story-section,
.process-section,
.other_projects-section {
  margin: 32px 0px;
}
.title-group {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.content-pl-48 {
  @media (max-width: 1920px) {
    padding-left: 48px;
  }
  @media (max-width: 992px) {
    padding: 15px;
  }
}
.content-pr-48 {
  @media (max-width: 1920px) {
    padding-right: 48px;
  }
  @media (max-width: 992px) {
    padding: 0px;
  }
}
///FLEX
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-top {
  display: flex;
  align-items: top;
  justify-content: center;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}

.user-image-relative {
  position: relative;
}
.emoji-position {
  position: absolute;
  font-size: 26px;
  left: 40px;
  top: 20px;
}
.talking-bobble {
  border: 1px solid $color_grey-lighter;
  padding: 16px;
  border-radius: 8px;
}
.talk-dialog {
  padding: 4px 10px;
  border: 1px solid $color_grey-light;
  border-radius: 8px;
}
.user-journey-image {
  @media (max-width: 2680px) {
    .user-journey-web {
    }
    .user-journey-mobile {
      display: none;
    }
  }
  @media (max-width: 576px) {
    .user-journey-web {
      display: none;
    }
    .user-journey-mobile {
      display: block;
    }
  }
}
