@import './variables.scss';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

///文字設定///
.text-xxl {
  line-height: 1;
  font-family: 'rubik';
  font-weight:500;
  color: $color_blue-base;
  @media (max-width: 2680px) {
    font-size: 56px;
  }
  @media (max-width: 576px) {
    font-size: 40px;
  }
}
.text-xl {
  font-size: 48px;
  font-weight: 400;
  font-family: 'rubik';
  line-height: 1;
}
.text-l {
  font-size: 24px;
  font-weight: 400;
  font-family: 'rubik';
  line-height: 1;
}
.user-image-relative {
  position: relative;
}
.emoji-position {
  position: absolute;
  font-size: 26px;
  left: 40px;
  top: 20px;
}
.talking-bobble {
  border: 1px solid $color_grey-lighter;
  padding: 16px;
  border-radius: 8px;
  animation: slideUp 1s ease-in forwards;
  // @for $i from 1 through 10 {
  //   &:nth-child(#{$i}) .circle {
  //   }

  //   &:nth-child(#{$i}) .text{
  //     animation-delay: #{$animationTextDelay};
  //   }
  //   $animationTextDelay:  $animation-pause-time;
  //   $animationCircleDelay: $animationTextDelay - $animation-pause-time;
  // }
}
.talk-dialog {
  padding: 4px 10px;
  border: 1px solid $color_grey-light;
  border-radius: 8px;
}

// $animation-duration: 500ms;
// $animation-pause-time: 200ms;
// $animationTextDelay: 0ms;

@keyframes slideUp {
  0%{
      transform: translateY(30%);
      opacity: 0;
  }
  100%{
      transform: translateY(0);
      opacity: 1;
  }
}