@import './variables.scss';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

.talk-dialog {
  padding: 4px 10px;
  border: 1px solid $color_grey-lighter;
  border-radius: 8px;
}
.line-through {
  text-decoration: line-through;
}
.border-circle {
  padding: 20px;
  border-radius: 100px;
  border: 1px solid $color_grey-light;
  width: 74px;
  height: 74px;
  background-color: $color_grey-darkest;
  z-index: 3;
}
.through-line::after {
  content: ' ';
  border: 1px solid $color_grey-light;
  width: 200px;
  z-index: 2;
  position: absolute;
}


