@import './variables.scss';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

.plan_border {
  padding: 10px 16px;
  border: 1px solid $color_grey-light;
  border-radius: 4px;
  width: 120px;
  text-align: center;
  margin: auto;
}

