
//COLOR
//---GREY---
$color_white: #fff;
$color_grey-lightest: #F2F2F2;
$color_grey-lighter: #dbdce0;
$color_grey-light: #777c88 !important;
$color_grey-base: #36363c;
$color_grey-dark: #25252e;
$color_grey-darker: #1b1b1e;
$color_grey-darkest: #19191d;

//---BLUE---
$color_blue-lightest: #ebf4ff;
$color_blue-lighter: #d0e4fb;
$color_blue-light: #9fcbff;
$color_blue-base: #51a1ff;
$color_blue-dark: #2C6EBA;

///BORDER
.gradient-border {
position: relative;
border-radius: var(--borderWidth);
padding: 0px;
@media (max-width: 2680px) {
    --borderWidth: 8px;
}
@media (max-width: 1440px) {
    --borderWidth: 8px;
}
@media (max-width: 576px) {
    --borderWidth: 6px;
}
}
.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f8f8f8, #edeff1, #ffffff);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    background-size: 300% 300%;
    box-shadow: 24px 20px 30px -20px rgba(120, 120, 171, 0.581);
}
.border-thin {
    border: 2px solid $color_grey-lightest;
}
.border-thinner {
    border: 1px solid $color_grey-lightest;
}


///DARK-SECTION
.bg-grey-darkest {
    background-color: $color_grey-darkest;
}
.bg-grey-lightest {
    background-color: $color_grey-lightest;
}
.font-color-lighter {
    color: $color_grey-lighter;
}
.font-color-light {
    color: $color_grey-light;
}
.font-color-blue {
    color: $color_blue-base;
}  


  
///BUTTON
.btn {
    font-size: 16px;
    color: $color_grey-dark;
    border: initial;
    padding: 10px 0px;
    font-weight: 600;
    margin-top: 16px;
    text-decoration: none;
    &:hover {
        color: $color_blue-dark;
        text-decoration: none;
        i {
        transform: translateX(5px);
        transition-duration: (0.5s);
        }
    }
    &:active {
        transform: scale(0.99);
        color: $color_blue-dark !important;
    }
    .la-long-arrow-alt-right {
        margin-left: 8px;
        color: $color_blue-dark;
    }
}

